.container
    margin: 100px 25px
    padding: 50px 0px

    
.wrapper
    display: grid
    grid-template-columns: 1fr 4fr
    @media (max-width: 767px) 
        grid-template-columns: 1fr

.filter
    margin: 25px
    padding: 25px
    border: 2px solid black
    border-radius: 25px
    max-height: 500px
    min-width: 150px
    @media (max-width: 767px)
        display: none

.itemlist
    display: grid
    text-align: center
    grid-template-columns: repeat(4,minmax(200px, 1fr))
    @media (max-width: 1200px) 
        grid-template-columns: repeat(3,minmax(200px, 1fr))
    @media (max-width: 850px) 
        grid-template-columns: repeat(2,minmax(200px, 1fr))
    @media (max-width: 767px) 
        grid-template-columns: repeat(1,minmax(200px, 1fr))


.mobfilter
    display: none
    @media (max-width: 767px)
        display: inline

.itemwrapper 
    display: flex
    flex-direction: column


.pages
    text-align: center
    margin: 50px


.activebutton
    background-color: #7cff77

.passivebutton
    background-color: #ffffff

.notification 
    text-align: center
    min-width: 250px
    position: fixed
    z-index: 1000
    top: 10%
    right: calc(50% - 125px)
    @media (min-width:1200px)
        font-size: 36px
        border: 1px solid green
        padding: 20px
        background-color: #62ff6a94
        border-radius: 25px


.noti-enter
  opacity: 0

.noti-enter-active 
  opacity: 1
  transition: opacity 500ms ease-in

.noti-exit 
  opacity: 1

.noti-exit-active 
  opacity: 0
  transition: opacity 500ms ease-in

